<!-- form.component.html -->

<div>
  <h2 class="title">Pesquisar coleção</h2>

  <form (ngSubmit)="submitForm()">
    <div>
      <label for="name">Nome:</label>
      <input type="text" id="name" name="name" [(ngModel)]="formData.name" required>
    </div>

    <div>
      <label for="block">Bloco: </label>
      <select id="block" name="block" [(ngModel)]="formData.blocks" required>
        <option *ngFor="let block of formData.blocks" [value]="block.name">{{ block.name }}</option>
      </select>
    </div>
    <button type="submit">Buscar</button>
  </form>
</div>
